<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <h2 class="title">ShopSim</h2>
    </div>
    <div class="login-body">
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" autocomplete="off">

        <!-- E-posta Alanı -->
        <div class="form-group">
          <label for="email">Mail Adresi</label>
          <input
            class="form-control"
            type="email"
            id="email"
            name="email"
            ngModel
            required
            email="true"
            minlength="3"
            #email
            [appValid]="email.validity.valid">
          <div class="invalid-feedback">Geçerli bir mail adresi girin!</div>
        </div>

        <!-- Şifre Alanı -->
        <div class="form-group">
          <label for="password">Şifre</label>
          <input
            class="form-control"
            type="password"
            id="password"
            name="password"
            ngModel
            required
            #password
            [appValid]="password.validity.valid">
          <div class="invalid-feedback">Şifre alanı boş olamaz!</div>
        </div>

        <!-- Giriş Butonu -->
        <div class="form-group">
          <button [disabled]="!loginForm.valid" class="btn btn-primary">
            Giriş Yap
          </button>
        </div>

        <!-- Kayıt Ol Linki -->
        <div class="register-link">
          <a routerLink="/register">Hesabın yok mu? Kayıt Ol</a>
        </div>

      </form>
    </div>
  </div>
</div>
