<div class="register-container">
  <div class="register-card">
    <div class="register-header">
      <h2>Kayıt Sayfası</h2>
    </div>
    <div class="register-body">
      <form autocomplete="off" #registerForm="ngForm">

        
        <div class="form-group">
          <label for="name">Ad Soyad</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            #name
            [appValid]="name.validity.valid"
            required
            minlength="3"
          />
          <div class="invalid-feedback">
            Ad soyad alanı en az 3 karakter olmalıdır!
          </div>
        </div>


        <div class="form-group mt-2">
          <label for="email">Mail Adresi</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            #email
            [appValid]="email.validity.valid"
            required
            minlength="3"
          />
          <div class="invalid-feedback">Geçerli bir mail adresi yazın!</div>
        </div>


        <div class="form-group mt-2">
          <label for="password">Şifre</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            #password
            [appValid]="password.validity.valid"
            required
          />
          <div class="invalid-feedback">Şifre alanı boş olamaz!</div>
        </div>

        <div class="form-group mt-3">
          <button [disabled]="!registerForm.valid" class="btn btn-primary w-100">Kayıt Ol</button>
          <div class="text-center mt-3">
            <a routerLink="/login" class="text-decoration-none text-primary">Giriş Yap</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
