<app-blank title="Ürünler" sectionTitle="Ürünler Listesi">
  <!-- Ekleme ve Search -->
  <div class="form-group">
      <button class="btn btn-outline-primary" routerLink="/products/add">
          <i class="fa fa-plus"></i>
      </button>
      <div class="col-md-3" style="float: right;">
      <input class="form-control" type="search" placeholder="Aranacak değeri yazın..."/>
  </div>
  </div>
  <!-- Ekleme ve Search -->

  <!-- Liste -->
  <app-table [heads]='[
  "#",
  "Ürün Resmi",
  "Ürün Adı",
  "Kategoriler",
  "Stok Bilgisi",
  "Birim Fiyatı",
  "Oluştulma Tarihi",
  "Aktif/Pasif",
  "İşlemler"]'>
  <tr>
      <td></td>
      <td>
          <img  width="50"/>
      </td>
      <td></td>
      <td>
          <ul>
              <li >

              </li>
          </ul>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td>
          <button
            class="btn"
            >

          </button>
      </td>
      <td>
          <button class="btn btn-outline-warning btn-sm" title="Güncelle">
              <i class="fa fa-edit"></i>
          </button>
          <button  class="btn btn-outline-danger btn-sm mx-1" title="Sil">
              <i class="fa fa-trash"></i>
          </button>
      </td>
  </tr>
  </app-table>
  <!-- Liste -->

  <!-- Pagination -->
  <select name="pageSize" id="pageSize" class="form-control text-center"  style="width: 65px; float: left;">
      <option>5</option>
      <option>10</option>
      <option>20</option>
      <option>50</option>
      <option>100</option>
      <option>200</option>
      <option>500</option>
      <option>1000</option>
  </select>
  <nav style="float: right;">
      <ul class="pagination">
          <li class="page-item">
              <a class="page-link">İlk</a>
          </li>
          <li class="page-item">
              <a class="page-link">Önceki</a>
          </li>
          <li class="page-item">
              <a class="page-link" ></a>
          </li>
          <li class="page-item" >
              <a class="page-link">Sonraki</a>
          </li>
          <li class="page-item" >
              <a class="page-link" >Son</a>
          </li>
      </ul>
  </nav>
  <!-- Pagination -->

</app-blank>
